{{ define "crew" }}

  <h2>Crew for {{ .ShipName }} </h2>

  <h3>Pilot</h3>
  {{ with .Pilot }}
      {{ template "person" . }}
  {{ end }}
  
  <h3>Navigator</h3>
  {{ with .Navigator }}
      {{ template "person" . }}
  {{ end }}

  <h3>Engineering Section</h3>
  {{ range .Engineers }}
      {{ template "person" . }}
  {{ end }}

  {{ if .Medic.Name   }}
    <h3>Medical Section</h3>
    {{ with .Medic }}
      {{ template "person" . }}
    {{ end }}
  {{ end }}

  {{ if .Steward.Name   }}
    <h3>Steward Section</h3>
    {{ with .Steward }}
      {{ template "person" . }}
    {{ end }}
  {{ end }}

  {{ if gt (len .Gunners) 0 }}
    <h3>Gunnery Section</h3>
    {{ range .Gunners }}
        {{ template "person" . }}
    {{ end }}
  {{ end }}
{{ end }}
