{{- define "person" -}}
{{ .Name }} [{{ .Gender }}] {{ .UPPs }} Age: {{ .Age }} {{ .Species }}
{{ .Terms }} terms {{ .Career }}
{{ .SkillString }}
Temperament: {{ .Temperament }}   Mental Traits: {{ .Mental }}
Plot: {{ .Plot }} 
Physical:  {{ .Physical }}
{{- end -}}
