{{ define "crew" }}

  <h2>Crew for {{ .ShipName }} </h2>

  <h3>Pilot</h3>
  {{ with .Pilot }}
      {{ template "person" . }}
  {{ end }}
  
  <h3>Navigator</h3>
  {{ with .Navigator }}
      {{ template "person" . }}
  {{ end }}

  <h3>Engineering Section</h3>
  {{ range .Engineers }}
      {{ template "person" . }}
  {{ end }}

      
{{ end }}
