{{ define "form" }}    

  <form action="show" method="POST">   
    Ship Name: 
    <input type="text" name="shipName">
    Ship Hull Size:
    <input type="text" name="hullSize">
    Ship Drive Tonnage:
    <input type="text" name="driveSize">
    <p>
    Max Passengers:
    <input type="text" name="passengers">
    Number of Active Weapons:
    <input type="text" name="weapons">
    <select name="role">
      <option value="MerchantMarine" selected="selected">Merchant Marine</option>
      <option value="Navy">Navy</option>
      <option value="FreeTrader">Free Trader</option>
    </select>
    <input type="submit" value="Recruit!">
  </form>

{{ end }} 
